body{
    margin: 0;
    padding: 0;
  }
  .main-cont {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 6px;
  }
  .header{
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    color: #11102f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .header div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
  }
  .logo {
    height: 35px;
    margin: auto 20px;
  }

  .profile-sm>img {
    margin: auto 5px;
  }
  .avatar-sm {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50vh, auto);
    grid-gap: 5px;
    margin: 30px auto;
  }

  

  .head1 {
    height: 950px;
    background-color: #ffffff;
    align-items: center;
    position: relative;
    color: #11102f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
  }
  
  .head2 {
    height: 150px;
    width: 1000px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    color: #11102f;
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 15;
    top: 30px;
    
  }
  .head3 {
    height: 700px;
    width: 1000px;
    background-color: #006494;
    align-items: center;
    justify-content: space-between;
    color: #f1f4f5;
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
    top: 180px;
    
  }
  .head2>img {
     border-radius: 50%;
     display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 120px;
    padding: 10px 10px 10px 10px;
    float: center;
  }
  
  h3 {
      text-align: center;
    
  }
  title {
      float: center;
  }
  .barAns {
      display: inline-block;
      width: 750px;
      height: 25px;
      padding: 10px;
      background-color: white;
      color: black;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      margin-left: 100px;
      margin-right: 100px;
      
  }
  .barHead {
      color: white;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: -2px;

  }

  .head4 {
    color: #808080;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }