body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #006494;
}
.navbar{
    position: absolute;
    width: 1440px;
    height: 82px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.formbox{
    position: absolute;
    left: 24.4%;
    top: 8%;
    height: 900px;
    width: 1090px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.get{
    margin-left: 15%;
    top: 10%;
}
input {
    width: 90%;
    height: 70%;
}

.formcontrol{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: black;
    font-size: 18px;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 16px;
    
}

.submitbtn{
    position: absolute;
    left: 15%;
    top: 75%;
    width: 250px;
    height: 50px;
    background-color: #006494;
    color: white;
}
.sidebar{
    position: absolute;
    width: 350px;
    height: 900px;
    left: 0%;
    top: 8%;
    background: #006494;
    color: white;
    font-family: Poppins;
}
.icon{
    height: 45px;
    width: 45px;
}
.location{
    position: absolute;
    top: 25%;
    left: 17%;
}
.details{
    position: absolute;
    top: 45%;
    left: 17%;
}
.us{
    position: absolute;
    top: 65%;
    left: 17%;
}
.footer {
    position: absolute;
    width: 461px;
    height: 27px;
    left: 490px;
    top: 987px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #808080;
}